:root {
  --background: #F4E9CD;
  --light-blue: #9DBEBB;
  --green-blue: #77ACA2;
  --teal: #468189;
  --deep-black: #00213c;
}

body {
  background: var(--background);
  color: var(--deep-black);
  font-family: Arial;
  margin: 0;
}

header {
  width: 100%;
  height: 100px;
  background-color: var(--deep-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
}

body {
  margin: 0;
  background-color: var(--green-blue);
  background-image: url("images/Background2.jpg");
  background-repeat: repeat;
  background-size: auto;
}

.page {
  max-width: 800px;  
  margin: 0 auto;   
  background: var(--background);
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

.navbar {
  position: sticky;
}

nav {
  width: 90%;
  height: 50px;
  color: var(--background);
  font-family: Garamond;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  color: #dfdfe2;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
  font-size: larger;
}

li > a {
  color: inherit;
  text-decoration: none;
}

nav > ul > li:hover {
  background-color: var(--light-blue);
  color: var(--deep-black);
  cursor: pointer;
}

main {
  padding-top: 50px;
  margin: 20px;
}

h1 {
  margin: 20px;
  color: var(--background);
  font-family: Garamond;
}

h2 {
  font-size: 28px;
  font-family: Garamond;
  color: var(--teal);
  margin: 10px;
}

h3 {
  font-size: 17px;
  line-height: 30px;
  margin: 10px;
}

:root { --nav-h: 70px; }

.anchor-offset {
  display: block;
  height: var(--nav-h);                
  margin-top: calc(-1 * var(--nav-h));
  visibility: hidden;                  
}

section {
  margin-bottom: 50px;
}

.s1 {
  width: 50%;
  float: right;
  padding-bottom: 60px;
}

html {
  scroll-padding-top: 150px;
}

.image1 {
  max-width: 50%;
  height: auto;
  float: left;
  box-sizing: border-box;
  padding-right: 20px;
  padding-bottom: 20px;
}

.image2 {
  max-width: 50%;
  height: auto;
  float: right;
  box-sizing: border-box;
  padding-left: 20px;
  padding-bottom: 20px;
}

.image3 {
  max-width: 100%;
  height: auto;
  float: left;
  margin-bottom: 20px;
}

.image4 {
  max-width: 60%;
  height: auto;
  float: left;
  margin-right: 20px;
}

a {
  color: var(--green-blue)
}
    
@media (max-width: 600px) {
  img {
    max-width: 300px; /* shrink image */
      }
    }

@media (max-width: 400px) {
  img {
    max-width: 200px; /* shrink even more */
      }
    }

.subtitle {
  color: var(--green-blue);
}

.cert {
  background-color: var(--deep-black);
  padding: 0.5em;
  float: right;
  border-radius: 8px;
}

.poster {
  background-color: var(--deep-black);
  padding: 0.5em;
  border-radius: 8px;
  float: right;
  margin: 0 0 30px 30px;
}

.spaceholder {
  width: 100%;
  height: 50px;
  color: var(--background);
}

.certLink, .posterLink {
  color: var(--background);
  text-decoration: none;
}

* {
  scroll-behavior: smooth;
}

.social-icons {
  display: flex;
  gap: 20px;
  justify-content: right;
  margin-top: 20px;
  margin-right: 50px;
}

.social-icons a {
  text-decoration: none;
  color: var(--deep-black);
  font-size: 30px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: var(--green-blue);
}

